.root {
	border: 1px solid var(--mantine-color-default-border);
	color: var(--mantine-color-default-color);
	padding: var(--mantine-spacing-xs);
	font-size: 0.8rem;
	cursor: pointer;
}
.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
.root:not(.disabled):hover {
	background-color: var(--mantine-primary-color-light-hover);
}

.selected {
	background-color: var(--mantine-primary-color-light-hover);
}
