.root {
	border: 1px solid var(--mantine-color-default-border);
	color: var(--mantine-color-default-color);
	padding: var(--mantine-spacing-xs);
	font-size: 1rem;
}
.root:hover {
	background-color: var(--mantine-primary-color-light-hover);
}
.active {
	color: var(--mantine-color-anchor);
}
